# Telecommunication project.

In [1]:
### Telecommunication project. 
#importing the libraries. 
import numpy as np
import pandas as pd

In [2]:
# Add the datasets needed for this project. 
# the data sets will be arranged as dataframes to allow for speedy analysis using pandas or numpy
cellgeo = pd.read_csv('/content/cells_geo.csv')
cellgeo.head ()

  ;VILLES;STATUS;LOCALISATION;DECOUPZONE;ZONENAME;LONGITUDE;LATITUDE;REGION;AREA;CELL_ID;SITE_CODE
0  0;ADJAME;In Service;ABIDJAN;"""Abidjan_EST";AG...
1  1;ADJAME;In Service;ABIDJAN;"""Abidjan_EST";AG...
2  2;ADJAME;In Service;ABIDJAN;"""Abidjan_EST";AG...
3  3;ASSINIE;In Service;INTERIEUR;Grand-EST;"ASSI...
4  4;ASSINIE;In Service;INTERIEUR;Grand-EST;"ASSI...

In [3]:
# Telecom data set 1
tdset1 = pd.read_csv ('/content/Telcom_dataset.csv')
tdset1.head()

  PRODUTC  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0   Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1     sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2     sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3   Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv

[5 rows x 10 columns]

In [4]:
# Telecom dataset 2 
tdset2 = pd.read_csv ('/content/Telcom_dataset2.csv')
tdset2.head()

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0     sms      0  2012-05-07 23:02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1   Voice      0  2012-05-07 23:03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
2     sms      0  2012-05-07 23:04:06.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
3   Voice     37  2012-05-07 23:04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4     sms     25  2012-05-07 23:04:58.0  ...     19e2e  +bO+qkSonO  +bO+qkSonO

[5 rows x 10 columns]

In [5]:
# Telecom Dataset 3
tdset3 = pd.read_csv ('/content/Telcom_dataset3.csv')
tdset3.head()

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B      CELLID     SIET_ID
0   Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1     sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2   Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3     sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA

[5 rows x 10 columns]

In [9]:
#cleaning the cells_geo csv
new_cellsgeo = cellgeo[';VILLES;STATUS;LOCALISATION;DECOUPZONE;ZONENAME;LONGITUDE;LATITUDE;REGION;AREA;CELL_ID;SITE_CODE'].apply(lambda x: pd.Series([i for i in reversed(x.lower().split(';'))]))
# adding the columns
new_cellsgeo.columns = ['SITE_CODE','CELL_ID','AREA', 'REGION', 'LATITUDE', 'LONGITUDE', 'ZONENAME', 'DECOUPZONE', 'LOCALISATION', 'STATUS', 'VILLES', 'Index']
new_cellsgeo

       SITE_CODE     CELL_ID          AREA  ...      STATUS    VILLES Index
0     0bb492ef17  fbb2e75af3                ...  in service    adjame     0
1     0bb492ef17  1502501d78                ...  in service    adjame     1
2     0bb492ef17  0c2e182a0c                ...  in service    adjame     2
3     8a1e6ce31f  69bdfc69fd                ...  in service   assinie     3
4     8a1e6ce31f  7a1029d2ab                ...  in service   assinie     4
...          ...         ...           ...  ...         ...       ...   ...
3969  f91ed8d2e9  1cfc2d7ab1  centre north  ...  in service  zuenoula  3969
3970  f91ed8d2e9  3ae1708153  centre north  ...  in service  zuenoula  3970
3971  61bee9c70c  cb71f8a29c  centre north  ...  in service  zuenoula  3971
3972  61bee9c70c  d4a6a0b645  centre north  ...  in service  zuenoula  3972
3973  61bee9c70c  f9f3e42589  centre north  ...  in service  zuenoula  3973

[3974 rows x 12 columns]

In [10]:
pd.pivot_table(new_cellsgeo, index=['REGION','VILLES'], aggfunc='count')

                          AREA  CELL_ID  ...  STATUS  ZONENAME
REGION       VILLES                      ...
18 montagnes bangolo         3        3  ...       3         3
             banteapleu      3        3  ...       3         3
             biankouma       3        3  ...       3         3
             bin hounien     3        3  ...       3         3
             danane          9        9  ...       9         9
...                        ...      ...  ...     ...       ...
zanzan       tandi           3        3  ...       3         3
             tankesse        3        3  ...       3         3
             taoudi          3        3  ...       3         3
             transua         3        3  ...       3         3
             yorobodi        3        3  ...       3         3

[508 rows x 10 columns]

In [18]:
new_cellsgeo

       SITE_CODE     CELL_ID          AREA  ...      STATUS    VILLES Index
0     0bb492ef17  fbb2e75af3                ...  in service    adjame     0
1     0bb492ef17  1502501d78                ...  in service    adjame     1
2     0bb492ef17  0c2e182a0c                ...  in service    adjame     2
3     8a1e6ce31f  69bdfc69fd                ...  in service   assinie     3
4     8a1e6ce31f  7a1029d2ab                ...  in service   assinie     4
...          ...         ...           ...  ...         ...       ...   ...
3969  f91ed8d2e9  1cfc2d7ab1  centre north  ...  in service  zuenoula  3969
3970  f91ed8d2e9  3ae1708153  centre north  ...  in service  zuenoula  3970
3971  61bee9c70c  cb71f8a29c  centre north  ...  in service  zuenoula  3971
3972  61bee9c70c  d4a6a0b645  centre north  ...  in service  zuenoula  3972
3973  61bee9c70c  f9f3e42589  centre north  ...  in service  zuenoula  3973

[3974 rows x 12 columns]

In [46]:
 hell = tdset1.merge(new_cellsgeo, how='inner', on='CELL_ID')
 hell [['CELL_ID','VILLES', 'DATETIME']]

Empty DataFrame
Columns: [CELL_ID, VILLES, DATETIME]
Index: []